/* Navbar */
/* .navbar{
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar-brand{
    font-size: 45px;
}
.navbar-brand:hover{
    transform: scale(1.1);
    transition: all 0.5s ease;
}
.navbar-nav{
    font-size: 30px;
}
.nav-item:hover{
    transform: scale(1.2);
    transition: all 0.5s ease;
}

/* Button */
/* .btn:hover{
    color:white
} */ 

.page-title{
    display:block !important;
    text-align: center;
    font-size: 35px;
    margin-top: 15px;
}

/* REGISTER PAGE ======================================================================================= */
.form-container {
    width:50%;
    margin:auto;
}

/* ARTICLE CARD ======================================================================================== */
.article-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width:300%;
    margin:20px
}
.article-card-title {
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0px 10px 0px;
}

.article-card-body {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    font-size: 16px;
    margin-bottom: 10px;
}

.read-more-btn {
    color: white;
    margin-top: 20px;
}



/* LIKE BUTTON { FOCUS } COLOUR TEAL */
.ui.teal.button:focus, 
.ui.teal.buttons .button:focus{
    background-color: #00b5ad;
}