/* Navbar */
 .navbar{
    position: sticky;
    top: 0;
    z-index: 1;
}

/* .navbar-brand{
    font-size: 45px;
}
.navbar-brand:hover{
    transform: scale(1.1);
    transition: all 0.5s ease;
} */
/* .navbar-nav{
    font-size: 30px;
} */
.nav-item:hover{
    transform: scale(1.2);
    transition: all 0.5s ease;
}

/* Button */
/* .btn:hover{
    color:white
} */ 

/* HOME PAGE ================================================================== */
/* HERO.JS COMPONENT */
video {
    object-fit:cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1; 
}

.hero-container {
    /* background: url('./assets/images/face.jpg') center center/cover no-repeat; */
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2); */
    object-fit:contain;
}

.hero-container > h1 {
    color: #fff;
    font-size: 150px;
    margin-top: -150px;
}

.hero-container > h2 {
    font-weight: bold;
    margin-top: 20px;
    font-size: 30px;
}

.hero-btns {
    margin-top: 32px;
}

.hero-btns .btn {
    margin: 6px;
}

.hero-btns .register-btn {
    color:rgb(0, 0, 0);
    background-color: #fff;
}

.spacer {
    aspect-ratio: 690/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer2 {
    background-image: url('../assets/images/layer2.svg.svg');
}


.page-title{
    display:block !important;
    text-align: center;
    font-size: 35px;
    margin-top: 15px;
}

/* REGISTER PAGE ======================================================================================= */
.form-container {
    width:50%;
    margin:auto;
}

/* ARTICLE CARD ======================================================================================== */
.article-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width:300%;
    margin:20px
}
.article-card-title {
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0px 10px 0px;
}

.article-card-body {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    font-size: 16px;
    margin-bottom: 10px;
}

.read-more-btn {
    color: white;
    margin-top: 20px;
}



/* LIKE BUTTON { FOCUS } COLOUR TEAL */
.ui.teal.button:focus, 
.ui.teal.buttons .button:focus{
    background-color: #00b5ad;
}

/* PROFILE ============================================================================== */


/* MEDIA QUERIES ====================================================================== */

@media screen and (max-width: 960px) {
    .hero-container > h1 {
        color: #fff;
        font-size: 70px;
        margin-top: -160px;
    }
}

@media screen and (max-width: 768px) {
    .hero-container > h1 {
        color: #fff;
        font-size: 50px;
        margin-top: -160px;
    }

    .hero-container > h2 {
        font-size: 25px;
    }

    btn-mobile {
        display: block;
        text-decoration: none;
    }

    .btn {
        width: 100%
    }
}









