/* Navbar */
/* .navbar{
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar-brand{
    font-size: 45px;
}
.navbar-brand:hover{
    transform: scale(1.1);
    transition: all 0.5s ease;
}
.navbar-nav{
    font-size: 30px;
}
.nav-item:hover{
    transform: scale(1.2);
    transition: all 0.5s ease;
}

/* Button */
/* .btn:hover{
    color:white
} */ 

.page-title{
    display:block !important;
    text-align: center;
    font-size: 35px;
    margin-top: 15px;
}

/* REGISTER PAGE ======================================================================================= */
.from-container {
    width:400px;
    margin:auto;
}

